<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/form.css" />
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="form-container">
        <h2>Editar Producto: <%= pdct.name %></h2>
        
        <form class="form" action= "/products/edit/<%= pdct.id%>" method="POST" enctype="multipart/form-data">
          <label for="name">Nombre del Producto</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Ingrese el nombre del producto"
            value="<%= pdct.name%>"
            required
          />
          <label for="description">Descripción</label>
          <textarea
            name="description"
            id="description"
            placeholder="Ingrese una descripción del producto"><%= pdct.description %>
          </textarea>
          <label for="image">Imagen</label>
          <input type="file" name="image" id="image">
          <img width="100px" src="/image/products/<%= pdct.image %>" alt="<%= pdct.name %>"/>

          <label for="category">Categoría</label>
          <input
            type="text"
            name="category"
            id="category"
            placeholder="Ingrese una categoría"
              value="<%= pdct.category%>"
            required
          />

          <label for="colors">Colores/Talles</label>
          <input
            type="text"
            name="colors"
            id="colors"
            placeholder="Ingrese color/talle del producto"
          />

          <label for="price">Precio</label>
          <input
            type="number"
            name="price"
            id="price"
            placeholder="Ingrese el precio del producto"
            step="0.01"
            value="<%= pdct.price %>"
            required
          />

          <button type="submit">EDITAR PRODUCTO</button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
