<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/listProducts.css" />

  <body>
    <%- include('../partials/header') %>

    <!-- Listado de productos -->
    <section class="products-list" id="productsList">
      <% products.forEach(product => { %>
      <div class="product-card">
        <a>
        <div class="product-image">
          <img src="/image/products/<%= product.image%>" alt="product.name">
        </div>
        <div class="product-info">
          <h3 class="product-title"><%= product.name %></h3>
          <p class="product-description"><%= product.description %></p>
        </div>
        <div class="product-price">
          <span class="price">$<%= product.price %></span>
        </div>
        <div class="product-actions">
          <a class="btn-primary" href="#" disabled> Comprar</a>
          <a class="btn-secondary" href="/products/<%= product.id %>">Ver</a>
        </div>
      </div>
    </a>
      <% }) %>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
